{% extends 'webapp/base.html' %}

{% block title %} Add a requirement {% endblock %}

{% block body_block %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>

    
<div class="divCreateRequirement">
        <form id="task_form" method="post" action="/project/add_task?projectid={{projectid}}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
		  <ol class="breadcrumb">
  			<li><a href="/">Projects</a></li>
  			<li><a href="/project/view_tasks?projectid={{projectid}}">Tasks</a></li>
  			<li class="active">Add Task</li>
		  </ol>

            {% for field in form.visible_fields %}
                {{ field.errors }}
				<div class="clear"></div>            
            	<span class="label label-info">{{field.help_text}}</span>
                {{ field }}
            {% endfor %}

            <input type="submit" name="submit" class="btn btn-info navbar-btn" value="Create Requirement" />
        </form>
</div>
{% endblock %}
