{% extends 'webapp/base.html' %}

{% block title %} Create Project {% endblock %}

{% block body_block %}
<div class="divNewProject">
			<ol class="breadcrumb">
  			<li><a href="/">Projects</a></li>
  			<li class="active">Create Project</li>
		</ol>
		
	<form id="new_porject_form" method="post" action="/newproject/">
		{% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form.visible_fields %}
            <span class="label label-danger">{{field.errors}}</span>            
            <div class="clear"></div>            
            <span class="label label-info">{{field.help_text}}</span>
            {% if field.name == 'collaborators' %}
            	<div class="clear"></div>   
            {% endif %}
            {{ field }}
        {% endfor %}
		<div class="clear"></div> 
        <input type="submit" name="submit" class="btn btn-info navbar-btn" value="Create Project" />
	</form>
</div>
{% endblock %}
