{% extends 'webapp/base.html' %}

{% block title %} Edit Page {% endblock %}

{% block body_block %}
<div class="hero-unit divEditTask">
		<ol class="breadcrumb">
  			<li><a href="/">Projects</a></li>
  			<li><a href="/project/view_tasks?projectid={{projectid}}">Tasks</a></li>
  			<li><a href="/project/task?taskid={{taskid}}">Task</a></li>
  			<li class="active">Edit Task</li>
		</ol>
		
		<form id="edit_form" method="post" action="/project/edit_task?taskid={{taskid}}&projectid={{projectid}}">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
				<div class="clear"></div>            
            	<span class="label label-info">{{field.help_text}}</span>
                {{ field }}
            {% endfor %}
            <br>


            <input type="submit" name="submit" class="btn btn-info navbar-btn" value="Submit Changes" />

        </form>
        
</div>
{% endblock %}
