{% extends 'webapp/base.html' %}

{% block title %} Register {% endblock %}

{% block body_block %}
	<div class="panel panel-info">
		<div class="panel-heading">
			<h3 class="panel-title">Register</h3>
		</div>
		<div class="panel-body">

        {% if registered %}
        Tracker says: <strong>thank you for registering!</strong>
        <a href="/" class="btn btn-info navbar-btn">Return to the homepage.</a>
        <div class="clear"></div>
        {% else %}

        <form id="user_form" method="post" action="/register/"
                enctype="multipart/form-data">

            {% csrf_token %}
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            
            {% for field in form.visible_fields %}
                {{ field.errors }}
				<div class="clear"></div>            
            	<span class="label label-info">{{field.help_text}}</span>
                {{ field }}
            {% endfor %}

            <!-- Provide a button to click to submit the form. -->
            <input type="submit" name="submit" class="btn btn-info navbar-btn" value="Register" />
        </form>
        {% endif %}
      </div>
	</div>

{% endblock %}
