{% extends 'webapp/base.html' %}

{% block title %} Tasks {% endblock %}

{% block body_block %}
<div class="divTasks">
    {% if tasks %}
    	<h3><span class="label label-info">Tasks</span></h3>
	
		<div class="panel panel-danger pnlMustHave">
			<div class="panel-heading">
				<h3 class="panel-title">Must Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'M' %}
				{% if task.priority == 1 %}
					<a class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% elif task.priority == 2 %}
					<a class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% else %}
					<a class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% endif %}
								
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
			</div>
		</div>
		
		<div class="panel panel-warning pnlShouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Should Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'S' %}	
				{% if task.priority == 1 %}
					<a class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% elif task.priority == 2 %}
					<a class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% else %}
					<a class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% endif %}
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
			</div>
		</div>
		
		<div class="panel panel-info pnlCouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Could Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'C' %}	
				{% if task.priority == 1 %}
					<a class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% elif task.priority == 2 %}
					<a class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% else %}
					<a class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% endif %}
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
			</div>
		</div>
		
		<div class="panel panel-success pnlWouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Would Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'W' %}
				{% if task.priority == 1 %}
					<a class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% elif task.priority == 2 %}
					<a class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% else %}
					<a class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
				{% endif %}
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
			</div>
		</div>
		<div class="clear"></div>		
		
    {% else %}
        <span class="label label-danger">No tasks to be displayed for that project.</span>
    {% endif %}
    
    {% if projectid %}
    	<div class="clear"></div>
    	<a href="/project/add_task?{{projectid}}" class="btn btn-info navbar-btn">Add Task</a>
    {% else %}
        <span class="label label-danger">Incorrect url.</span>
    {% endif %}
</div>    
{% endblock %}