{% extends 'webapp/base.html' %}

{% block title %} Tasks {% endblock %}

{% block body_block %}
<div class="divTasks">
    {% if tasks %}
    	<h3><span class="label label-info">Tasks</span></h3>
	
		<div class="panel panel-danger pnlMustHave">
			<div class="panel-heading">
				<h3 class="panel-title">Must Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'M' %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="M" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
				
					{% if task.priority == 1 %}
						<a id="task_m_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% elif task.priority == 2 %}		
						<a id="task_m_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% else %}
						<a id="task_m_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% endif %}
					
				</div>
								
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
		{% for i in "xxxxxxxxxxxxxxxxxxxx" %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="M" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
					
				</div>
		{% endfor %}		
			</div>
		</div>
		
		<div class="panel panel-warning pnlShouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Should Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'S' %}	
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="S" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
				
					{% if task.priority == 1 %}
						<a id="task_s_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% elif task.priority == 2 %}
						<a id="task_s_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% else %}
						<a id="task_s_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% endif %}
				</div>
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
		{% for i in "xxxxxxxxxxxxxxxxxxxx" %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="S" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
					
				</div>
		{% endfor %}
			</div>
		</div>
		
		<div class="panel panel-info pnlCouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Could Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'C' %}	
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="C" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
				
					{% if task.priority == 1 %}
						<a id="task_c_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% elif task.priority == 2 %}
						<a id="task_c_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% else %}
						<a id="task_c_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% endif %}
				</div>
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
		{% for i in "xxxxxxxxxxxxxxxxxxxx" %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="C" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
					
				</div>
		{% endfor %}
			</div>
		</div>
		
		<div class="panel panel-success pnlWouldHave">
			<div class="panel-heading">
				<h3 class="panel-title">Would Have</h3>
			</div>
			<div class="panel-body">
		{% for task in tasks %}
			{% if task.classification == 'W' %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="W" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
				
					{% if task.priority == 1 %}
						<a id="task_w_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-danger" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% elif task.priority == 2 %}
						<a id="task_w_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-warning" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% else %}
						<a id="task_w_{{task.id}}" taskid="{{task.id}}" taskmoscow="{{task.classification}}" draggable="true" ondragstart="drag(event)" class="list-group-item list-group-item-success" href="/project/task?taskid={{task.id}}">{{task.title}}</a>
					{% endif %}
				</div>
				
				<div class="clear"></div>					
			{% endif %}
		{% endfor %}
		{% for i in "xxxxxxxxxxxxxxxxxxxx" %}
				<div id="draggableZone_w_{{forloop.counter0}}" taskmoscow="W" ondrop="drop(event)" ondragover="allowDrop(event)" class="" style="height: 50px">
					
				</div>
		{% endfor %}
			</div>
		</div>
		<div class="clear"></div>		
    {% else %}
        <span class="label label-danger">No tasks to be displayed for that project.</span>
    {% endif %}
    
    {% if projectid %}
    	<div class="clear"></div>
    	<a href="/project/add_task?projectid={{projectid}}" class="btn btn-info navbar-btn">Add Task</a>
    {% else %}
        <span class="label label-danger">Incorrect url.</span>
    {% endif %}
</div>    
{% endblock %}