<!DOCTYPE html>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">

<html>
    <head>
    
    		<!--bootstrap-->

        	<link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    		<link href="{% static 'css/bootstrap.min.css'% }" type="text/css" rel="stylesheet" media="screen">
    		<link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">
    		
    		
        	<title>Tracker - {% block title %}title block{% endblock %}</title>
    </head>

    <body>
    <div class="navbar navbar-inverse navbar-fixed-top">
   	<div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/webapp/">Tracker</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">
                   {% if user.is_authenticated %}
                    <li class="navbar-text">Welcome, {{ user.username }}!</li>
                    <li><a href="/webapp/logout/">Logout</a></li>
                   {% else %}
                    <li><a href="/webapp/register/">Register</a></li>
                    <li><a href="/webapp/login/">Login</a></li>
                   {% endif %}
               </ul>
               <ul class="nav">

                   <li><a href="/webapp/about/">About</a></li>
               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <!--- Empty for the timebeing -->
            </div>
            <!--/.well -->
        </div>
        <!--/span-->
        <div class="span9">
            {% block body_block %}
            {% endblock %}
        </div>
        <!--/span-->
    </div>
    <!--/row-->
</div>
<!--/.fluid-container-->

<hr>
<footer>
    <div class="container">
        <p>&copy; Tracker: Getting Shit Done 2014</p>
    </div>
</footer>
    		<script src="{% static 'js/jquery-2.1.0.js' %}"></script>
    		<script src="{% static 'js/bootstrap.min.js' %}"></script>
    </body>
</html>

