{% extends 'webapp/base.html' %}

{% block title %} Login {% endblock %}

{% block body_block %}
<div class="hero-unit">
        <form id="login_form" method="post" action="/webapp/login/">
            {% csrf_token %}
            Username: <input type="text" name="username" value="" size="50" />
            <br />
            Password: <input type="password" name="password" value="" size="50" />
            <br />

            <input type="submit" class="btn btn-info navbar-btn" value="submit" />
        </form>
</div>  
{% endblock %}

